<%- include('./partials/header') -%>
<%- include('./partials/navbar') -%>
<p>
<h2 >Welcome <%= user.name%> </h2></p>

<h5>Your email: <div style="color: darkblue;" ><%= user.email%> </div> </h5>


<%- include('./partials/footer') -%>


